:root{
    --lilas-escuro: #2F0836;
    --lilas-claro: #875790;
    --lilas: #5F3467;
    --cinza-escuro: #655D64;
    --cinza: #D9D9D9;
    --cor-de-fundo: #F4F1EC;
    --fundo-opções: #D3C8D1;
}

.grenze-regular {
    font-family: "Grenze", serif;
    font-weight: 200;
    font-style: normal;
}

*{
    background-color: var(--cor-de-fundo);
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

header img{
    width: 20%;
    margin-right: 3%;
}

.p{
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 20px;
    justify-content: center;
    margin: 3% 39% 0 41%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75%;
    z-index: 0;
    position: absolute;
}

#opções{
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--lilas);
    border-radius: 20px;
    background-color: var(--fundo-opções);
    box-shadow: var(--lilas) 8px 8px 15px;
    cursor: pointer;
}

#titulo-opções{
    font-family: "Grenze", sans-serif;
    font-size: 25px;
    color: var(--lilas);
    background-color: var(--fundo-opções);
    margin-left: 10%;
}

.texto-opções{
    color: var(--cinza-escuro);
    font-size: 20px;
    font-family: "Grenze", sans-serif;
    background-color: var(--fundo-opções);
    margin-left: 5%;
    margin-bottom: 30px;
}

.cadastro-oportuniza{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
}

.cadastro-oportunizado{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 20px;
    border: NONE;
}

.section input{
    border-bottom: 1.2px solid var(--lilas);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px 3px 0px  0px;
    margin-bottom: 15px;
    outline: none;
}

input[type="date" i] {
    padding: 10px;
}

label{
    display: inline-block;
    margin-top: 13px;
}

.section button{
    width: 20%;
    margin: 10% 10% 10% 90%;
    height: 25px;
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--fundo-opções);
    border: 1px solid var(--lilas);
}

@media screen and (max-width: 500px) {
    header{
        margin-top: 10%;
    }
    
    header img{
        width: 30%;
        margin-right: 3%;
    }
    
    .p{
        font-size: 18px;
        margin: 10% 15% 0 20%;
    }
    
    .main{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 75%;
    }
    
    #opções{
        width: 85%;
        height: 25vh;
    }
    
    #titulo-opções{
        font-size: 20px;
        margin-left: 8%;
        width: 90%;
        height: 20%;
        margin-top: 2%;
    }
    
    .texto-opções{
        font-size: 15px;
        margin-left: 4%;
        margin-bottom: 15px;
        width: 95%;
        height: 45%;
    }

    .cadastro-oportuniza{
        margin-top: 5%;
    }

    .cadastro-oportunizado{
        margin-top: 5%;
    }

    .section{
        width: 80%;
        font-size: 15px;
    }

    .section input{
        padding: 8px;
    }

    input[type="date" i] {
        padding: 8px;
    }

    .section button{
        width: 35%;
        margin: 10% 5% 15% 65%;
        font-size: 18px;
    }

}