:root{
    --lilas-escuro: #2F0836;
    --lilas-claro: #875790;
    --lilas: #5F3467;
    --cinza-escuro: #655D64;
    --cinza: #D9D9D9;
    --cor-de-fundo: #F4F1EC;
    --mapeia: #F1DAD6;
    --no-brasil: #D9F3E7;
    --leituras: #ECD5E8;
}
.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}
.grenze-regular {
    font-family: "Grenze", serif;
    font-weight: 200;
    font-style: normal;
}
  
*{
    background-color: var(--cor-de-fundo);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: var(--lilas);
    margin: 0%;
    padding: 0%;
}

#logo{
    width: 18%;
    background-color: var(--lilas);
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
}

.hidden{
    display: none;
}

#overlay{
    width: 20%;
    height: 100%;
    background-color: var(--lilas);
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin: 0%;
    padding: 0%;
    
}

.logo-overlay{
    width: 89%;
    margin-top: 5%;
    margin-left: 1%;
}

.perfil{
    width: 60%;
    margin-top: 8%;
    cursor: pointer;
}

#overlay a{
    display: flex;
    background-color: var(--lilas);
    align-items: center;
    justify-content: center;
}

#overlay p{
    font-family: "Berkshire Swash", sans-serif;
    font-size: 40px;
    background-color: var(--lilas);
    text-shadow: var(--lilas-escuro) -3px 10px 8px;
}

#mapeia{
    color: var(--mapeia);  
}

#no-brasil{
    color: var(--no-brasil);
}

#leituras{
    color: var(--leituras);
}

header input{
    width: 30%;
    margin-right: 5%;
    background-color: var(--cinza);
    height: 3vh;
    border-radius: 10px;
    border: 2px var(--cinza-escuro);
    box-shadow: var(--lilas-escuro) 5px 0 20px;
    margin-top: 5%;
    font-family: "Grenze", sans-serif;
    font-size: 20px;
}

.titulo-paginas{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}

.titulo-paginas h1{
    color: var(--mapeia);
    text-shadow: var(--lilas) 8px 0 10px;
    -webkit-text-stroke: 0.1px var(--lilas);  
    font-family: "Berkshire Swash", serif;
    font-size: 65px;
    margin-left: 6%;
    align-items: baseline;
}

.titulo-paginas a{
    color: var(--cinza-escuro);
    font-family: "Grenze", sans-serif;
    font-size: 22px;
    margin-left: 3%;
}

#button-header {
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    font-family: "Grenze", sans-serif;
    border: 2px var(--cinza-escuro);
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin-left: 2%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-left: 2%;
    border: 1px var(--cinza-escuro);
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor_de_fundo);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 20px;
    margin-left: 2%;
    overflow-y: auto;
    height: 40vh;
}

.dropdown-content a {
    color: var(--cinza-escuro);
    background-color: var(--cinza);
    font-family: "Grenze", sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;   
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}

.area_mapa{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#cursos{
    width: 30%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    font-family: "Grenze", sans-serif;
    color: var(--cinza-escuro);
    font-size: 20px;
    margin-top: 3%;
}

.mapa{
    width: 45%;
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
    height: 55vh;
}

/*-----------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
    header{
        height: 10vh;
    }
    
    #logo{
        width: 30%;
        margin-left: 2%;
    }
    
    #overlay{
        width: 35%;
        border-radius: 20px;
    }
    
    .logo-overlay{
        width: 90%;
        margin-top: 2vh;
    }
    
    .perfil{
        width: 80%;
        margin-top: 15%;
    }
    
    #overlay p{
        font-size: 30px;
        text-shadow: var(--lilas-escuro) -3px 4px 4px;
    }
    
    header input{
        width: 55%;
        margin-right: 2%;
        height: 30%;
        border-radius: 6px;
        margin-top: 3%;
        font-size: 15px;
    }

    .titulo-paginas{
        height: 20vh;
    }
    
    .titulo-paginas h1{
        font-size: 30px;
        text-shadow: var(--cinza-escuro) 2px 0 10px;
    }
    
    .titulo-paginas a{
        font-size: 15px;
    }

    #button-header {
        border-radius: 5px;
        font-size: 15px;
        margin-left: 3%;
    }

    .dropdown {
        width: 40%;
    }

    .dropdown-content a{
        font-size: 15px;
        padding: 5px 15px;
    }

    .mapa{
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        height: 40vh;
    }

    #cursos{
        width: 90%;
        margin-left: 5%;
        font-size: 15px;
    }
    
    .area_mapa{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}