:root{
    --lilas-escuro: #2F0836;
    --lilas-claro: #875790;
    --lilas: #5F3467;
    --cinza-escuro: #655D64;
    --cinza: #D9D9D9;
    --cor-de-fundo: #F4F1EC;
    --fundo-opções: #D3C8D1;
}

.grenze-regular {
    font-family: "Grenze", serif;
    font-weight: 200;
    font-style: normal;
}

*{
    background-color: var(--cor-de-fundo);
    overflow: hidden;
}
body {
    margin: 0;
}

#Voltar{
    color: var(--lilas-escuro);
    font-family: "Grenze", sans-serif;
    font-size: 23px;
    margin-left: 3%;
    align-items: baseline;
    cursor: pointer;
    background-color: var(--fundo-opções);
    width: 6%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--lilas);
    box-shadow: var(--lilas) 5px 5px 10px;
    margin-top: 2%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
}

header a{
    width: 20%;
}

header img{
    width: 90%;
}

.menu{
    height: 90vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    flex-direction: column;
}

#login{
    align-items: center;
    color: var(--lilas);
    font-family: "Grenze", sans-serif;
    font-size: 23px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    margin-top: 2vh;
}

#login:hover{
    text-shadow: var(--lilas) 3px 3px 6px;
}

#p{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    margin-bottom: 2vh;
    align-items: flex-end;
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 23px;
    
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 45%;
    z-index: 0;
}

#but_oportuniza{
    width: 35%;
    height: 32vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--lilas);
    border-radius: 20px;
    background-color: var(--fundo-opções);
    box-shadow: var(--lilas) 8px 8px 15px;
    cursor: pointer;
}
#but_oportunizado{
    width: 35%;
    height: 32vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--lilas);
    border-radius: 20px;
    background-color: var(--fundo-opções);
    box-shadow: var(--lilas) 8px 8px 15px;
    cursor: pointer;
}

#titulo-opções{
    font-family: "Grenze", sans-serif;
    font-size: 25px;
    color: var(--lilas);
    background-color: var(--fundo-opções);
    margin-left: 10%;
}

.texto-opções{
    color: var(--cinza-escuro);
    font-size: 23px;
    font-family: "Grenze", sans-serif;
    background-color: var(--fundo-opções);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

#cadastro_oportuniza{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}

#cadastro_oportunizado{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}

#opções-cadastro{
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 20px;
    border: none;
    margin-top: 3%;
}

.section input{
    border-bottom: 1.2px solid var(--lilas);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 3px 3px 0px  0px;
    margin-bottom: 15px;
    outline: none;
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 20px;
}

input[type="date" i] {
    padding: 10px;
}

.section button{
    width: 20%;
    margin: 10% 10% 10% 80%;
    height: 25px;
    font-family: "Grenze", sans-serif;
    color: var(--lilas);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--fundo-opções);
    border: 1px solid var(--lilas);
    cursor: pointer;
}

@media screen and (max-height: 1400px) {
    #but_oportuniza{
        height: 30vh;
    }

    #but_oportunizado{
        height: 30vh;
    }
    #titulo-opções{
        font-size: 22px;
        margin-top: 2%;
    }
    
    .texto-opções{
        font-size: 18px;
        margin-left: 4%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    
    .main{
        width: 100%;
        height: 65vh;
        justify-content: space-evenly;
    }
    #Voltar{
        width: 18%;
        font-size: 18px;
        margin-top: 5%;
    }
    
    header{
        margin-top: 5%;
        height: 8%;
    }

    header a{
        width: 40%;
    }
    
    header img{
        width: 100%;
        margin-right: 3%;
    }
    
    #p{
        height: 4vh;
        margin-top: 2vh;
        font-size: 20px;
    }
    
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 65%;
        margin-top: 0;
    }
    
    #but_oportuniza{
        width: 85%;
        height: 25vh;
    }

    #but_oportunizado{
        width: 85%;
        height: 25vh;
    }
    
    #titulo-opções{
        font-size: 20px;
        margin-left: 8%;
        width: 90%;
        height: 20%;
        margin-top: 2%;
    }
    
    .texto-opções{
        font-size: 15px;
        margin-left: 4%;
        margin-bottom: 15px;
        width: 95%;
        height: 45%;
    }

    #cadastro_oportuniza{
        margin-top: 0%;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        align-items: center;
    }

    #cadastro_oportunizado{
        margin-top: 0%;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        align-items: center;
    }

    .section{
        width: 80%;
        font-size: 15px;
        margin-top: 0%;
    }

    .section input{
        padding: 8px;
    }

    input[type="date" i] {
        padding: 8px;
    }

    .section button{
        width: 35%;
        margin: 10% 5% 15% 65%;
        font-size: 18px;
    }

}